<div class="row">
	<div class="span12">
		<%= render partial: 'project_header', object: @project, as: :project, locals: {link_to_project: true} %>
	</div>
</div>
<div class="row">
	<div class="span3 sidebar">
		<ul class="nav nav-pills nav-stacked">
			<li class="active">
				<a href="#settings" data-toggle="tab">Settings</a>
			</li>
			<li>
				<a href="#collaborators" data-toggle="tab">Collaborators</a>
			</li>
			<li>
				<a href="#privacy" data-toggle="tab">Privacy</a>
			</li>
		</ul>
	</div>
	<div class="span9 tab-content">
		<section id="settings" class="tab-pane active">
			<h3>Settings</h3>
			<%= form_for @project, url: project_path(@project.user, @project), remote: true, html: {class: 'form-horizontal'} do |f| %>
				<div class="control-group">
					<%= f.label :name, class: 'control-label' %>
					<div class="controls">
						<%= f.text_field :name %>
					</div>
				</div>
				<div class="form-actions">
					<%= f.submit "Update", class: "btn btn-warning", disable_with: 'Updating...' %>
				</div>
			<% end %>
		</section>
		<section id="collaborators" class="tab-pane">
			<h3>Collaborators</h3>
			<table id="collaborator_list" class="table table-bordered table-striped">
				<tbody>
					<%= render @project.project_grants %>
				</tbody>
			</table><br />
			<%= form_for @new_grant, url: project_grants_path(@project.user, @project), html: {class: 'form-inline'}, remote: true do |f| %>
				<%= f.text_field :user, id: 'collaborator-field' %>
				<%= submit_tag "Add", class: "btn", disable_with: 'Adding...' %>
			<% end %>
		</section>
		<section id="privacy" class="tab-pane">
			<h3>Privacy</h3>
		</section>
	</div>
</div>